{{ if .Values.cloudController.enabled }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cloud-controller-configmap
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-1"
data:
  config.yaml: |-
    {{- tpl (.Files.Get "files/cloud_controller_ng.yaml") . | nindent 4 }}
  stacks.yaml: |-
    default: cflinuxfs4
    stacks:
    - description: Cloud Foundry Linux-based filesystem (Ubuntu 22.04)
      name: cflinuxfs4
    deprecated_stacks:  []
{{ end }}