{{- if .Values.bbs.enabled }}
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: bbs
  labels:
    app: bbs
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/bbs-configmap.yaml") . | sha256sum }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bbs
  template:
    metadata:
      labels:
        app: bbs
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/bbs-configmap.yaml") . | sha256sum }}
    spec:
      containers:
        - name: bbs
          image: {{ .Values.bbs.image.repository }}:{{ default .Chart.AppVersion .Values.bbs.image.tag }}
          imagePullPolicy: {{ .Values.bbs.image.imagePullPolicy }}
          ports:
            - containerPort: 8889
          {{- if .Values.bbs.resources }}
          resources:
            {{- toYaml .Values.bbs.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: bbs
              mountPath: /etc/ssl/certs/bbs
            - name: postgres-tls
              mountPath: /etc/ssl/certs/postgres
            - name: bbs-config
              mountPath: /bbs
      {{- if .Values.bbs.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.bbs.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.bbs.tolerations }}
      tolerations:
        {{- toYaml .Values.bbs.tolerations | nindent 8 }}
      {{- end }}
      volumes:
        - name: bbs
          secret:
            secretName: {{ default "bbs" .Values.bbs.certificateSecret }}
        - name: postgres-tls
          secret:
            secretName: postgres-tls
        - name: bbs-config
          configMap:
            name: bbs-configmap
---
kind: Service
apiVersion: v1
metadata:
  name: bbs
  labels:
    app: bbs
spec:
  ports:
    - port: 8889
      targetPort: 8889
      protocol: TCP
  selector:
    app: bbs
---
{{ if not .Values.bbs.certificateSecret }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: bbs
spec:
  secretName: bbs
  commonName: bbs
  dnsNames:
    - bbs
    - bbs.{{ .Release.Namespace }}.svc
    - bbs.{{ .Release.Namespace }}.svc.cluster.local
    - "{{ .Values.bbs.hostname }}"
  issuerRef:
    name: ca-issuer
    kind: ClusterIssuer
  usages:
    - key encipherment
    - digital signature
    - server auth
    - client auth
  privateKey:
    rotationPolicy: Always
{{end }}
{{- end }}