name: Unit dummy

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Run dummy unit test
        run: echo "This is a dummy unit test."
